nodered_dashboard/flows.json
[
    {
        "id": "14e56c35a5953b22",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0f0f1786925ec5c",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "label": "Humidity",
        "tooltip": "",
        "group": "a7b4c9de057d0404",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "a8937c5d4ba2beaa"
            ]
        ]
    },
    {
        "id": "26467b7c4dd57b7a",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "label": "Temperature",
        "tooltip": "",
        "group": "a7b4c9de057d0404",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 200,
        "wires": [
            [
                "1748622aa205d519"
            ]
        ]
    },
    {
        "id": "a8937c5d4ba2beaa",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.humi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 160,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "1748622aa205d519",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 200,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "6ab334a1fe02b0d3",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 100,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "cb370b9794771705",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 500,
        "wires": [
            [
                "b8bbbc41.f272"
            ]
        ]
    },
    {
        "id": "5d819752697b08ec",
        "type": "inject",
        "z": "14e56c35a5953b22",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"001\",\"humi\":30,\"temp\":24,\"mois\":1130,\"ligh\":32767,\"ch1\":\"off\",\"ch2\":\"off\",\"ch3\":\"off\",\"ch4\":\"off\"}",
        "payloadType": "json",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "e66d80bdb76e3603",
                "2903e170e86b181a",
                "27f8ab4303c7d41b",
                "aed978975523a71e",
                "768d42ba458b1e2e",
                "ef84c3f1e027adbf",
                "8f98a9639e4d2619",
                "e7ac85df4eb86dc1",
                "836ac67277a2564f",
                "fc0184d945e0ce21"
            ]
        ]
    },
    {
        "id": "e66d80bdb76e3603",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2903e170e86b181a",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "a0f0f1786925ec5c"
            ]
        ]
    },
    {
        "id": "27f8ab4303c7d41b",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "26467b7c4dd57b7a"
            ]
        ]
    },
    {
        "id": "aed978975523a71e",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "6ab334a1fe02b0d3"
            ]
        ]
    },
    {
        "id": "a56d03c9e0e129d2",
        "type": "mqtt out",
        "z": "14e56c35a5953b22",
        "name": "",
        "topic": "6424020002/smartfarm/status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f21c4075976f759e",
        "x": 1670,
        "y": 420,
        "wires": []
    },
    {
        "id": "09ba23ac799e6d42",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 6,
        "group": "a7b4c9de057d0404",
        "width": 0,
        "height": 0,
        "label": "CH1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH1",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "8a333f32a4d53d2e",
        "type": "mqtt in",
        "z": "14e56c35a5953b22",
        "name": "",
        "topic": "6424020002/smartfarm/control",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "0fb66f7ad2669a43",
                "fc0184d945e0ce21",
                "e7ac85df4eb86dc1",
                "ef84c3f1e027adbf",
                "768d42ba458b1e2e",
                "095c18802a794ad1",
                "a63ec47257b5cb91",
                "1b202bec6a2bbf1b",
                "6b7e7c5555a84a4d"
            ]
        ]
    },
    {
        "id": "4af862d90bb13bca",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 7,
        "group": "a7b4c9de057d0404",
        "width": 0,
        "height": 0,
        "label": "CH2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH2",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "768d42ba458b1e2e",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch1",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\") {\n    if (q.ch1 == \"on\") {\n        led = 1 \n        msg.payload = led\n        return msg;}\n    if (q.ch1 == \"off\") { \n        led = 0\n        msg.payload = led\n        return msg;\n         }\n\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "09ba23ac799e6d42",
                "86651b9c3bc8daa7"
            ]
        ]
    },
    {
        "id": "07e96e6b16e31d0c",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 8,
        "group": "a7b4c9de057d0404",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH3",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "99d47115d5abc8bf",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 9,
        "group": "a7b4c9de057d0404",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH4",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "ef84c3f1e027adbf",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch2",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\") {\n    if (q.ch2 == \"on\") { led = true\n        msg.payload = led\n        return msg; }\n    if (q.ch2 == \"off\") { led = false\n        msg.payload = led\n        return msg; }\n\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 380,
        "wires": [
            [
                "4af862d90bb13bca",
                "d162c0d505d7bf91"
            ]
        ]
    },
    {
        "id": "e7ac85df4eb86dc1",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch3",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\") {\n    if (q.ch3 == \"on\") { \n        led = true \n        msg.payload = led\n        return msg;}\n    if (q.ch3 == \"off\") { \n        led = false\n        msg.payload = led\n        return msg; }\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 420,
        "wires": [
            [
                "07e96e6b16e31d0c",
                "0998ccb1b69e6810"
            ]
        ]
    },
    {
        "id": "fc0184d945e0ce21",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch4",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\") {\n    if (q.ch4 == \"on\") { \n        led = true\n        msg.payload = led\n        return msg; }\n    if (q.ch4 == \"off\") { \n        led = false\n        msg.payload = led\n        return msg; }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 460,
        "wires": [
            [
                "99d47115d5abc8bf",
                "9d947dfc62f772c2"
            ]
        ]
    },
    {
        "id": "8f98a9639e4d2619",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mois",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "d31acfed3d96d3c8"
            ]
        ]
    },
    {
        "id": "d31acfed3d96d3c8",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "label": "Soil Moisture",
        "tooltip": "",
        "group": "a7b4c9de057d0404",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4096",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "b962d5726af6d686"
            ]
        ]
    },
    {
        "id": "b962d5726af6d686",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.mois",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "836ac67277a2564f",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ligh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 280,
        "wires": [
            [
                "1b3072c7c81c232c"
            ]
        ]
    },
    {
        "id": "1b3072c7c81c232c",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "label": "Ambient Light",
        "tooltip": "",
        "group": "a7b4c9de057d0404",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "65535",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "86e347b6848f3414"
            ]
        ]
    },
    {
        "id": "86e347b6848f3414",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.ligh",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "cd884a2fc8560563",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "label": "Humidity",
        "tooltip": "",
        "group": "113ae86234f6470e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 640,
        "wires": [
            [
                "7c3966f2babfada0"
            ]
        ]
    },
    {
        "id": "f9a5ac452ec55c9e",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "label": "Temperature",
        "tooltip": "",
        "group": "113ae86234f6470e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 680,
        "wires": [
            [
                "3a8922589f4eca1a"
            ]
        ]
    },
    {
        "id": "7c3966f2babfada0",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.humi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 640,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "3a8922589f4eca1a",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 680,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "f16612df1ca168b2",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 600,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "d856004d92a5ea17",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1000,
        "wires": [
            [
                "56b8a85fb3a76534"
            ]
        ]
    },
    {
        "id": "72fc00add374a768",
        "type": "inject",
        "z": "14e56c35a5953b22",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"002\",\"humi\":30,\"temp\":24,\"mois\":1130,\"ligh\":32767,\"ch1\":\"off\",\"ch2\":\"off\",\"ch3\":\"off\",\"ch4\":\"off\"}",
        "payloadType": "json",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "adc583baaa287a3d",
                "2420714781b8f957",
                "e82d9620c590f3eb",
                "f672c2a577741437",
                "432085ccd39ec486",
                "dd064acff5c71fc8",
                "aebe053fe83ace67",
                "dcab9ba2e69ea903",
                "4e3f209ed1fd48fa",
                "2ad6c61f7813489e"
            ]
        ]
    },
    {
        "id": "adc583baaa287a3d",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "2420714781b8f957",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 640,
        "wires": [
            [
                "cd884a2fc8560563"
            ]
        ]
    },
    {
        "id": "e82d9620c590f3eb",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 680,
        "wires": [
            [
                "f9a5ac452ec55c9e"
            ]
        ]
    },
    {
        "id": "f672c2a577741437",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 600,
        "wires": [
            [
                "f16612df1ca168b2"
            ]
        ]
    },
    {
        "id": "0fbb008089be3f04",
        "type": "mqtt in",
        "z": "14e56c35a5953b22",
        "name": "",
        "topic": "6424020002/smartfarm/control",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 880,
        "wires": [
            [
                "432085ccd39ec486",
                "dd064acff5c71fc8",
                "aebe053fe83ace67",
                "2ad6c61f7813489e",
                "273fe15d2ef0a717",
                "33ce643235367e99",
                "f2678cd6357a66d6",
                "8b7968de1eef5240",
                "66eb61506ad0dbe7"
            ]
        ]
    },
    {
        "id": "432085ccd39ec486",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch1",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.ch1 == \"on\") {\n        led = 1\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch1 == \"off\") {\n        led = 0\n        msg.payload = led\n        return msg;\n    }\n\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 840,
        "wires": [
            [
                "03ea7b952a1cab42",
                "b3ad6e5779c93539"
            ]
        ]
    },
    {
        "id": "dd064acff5c71fc8",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch2",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.ch2 == \"on\") {\n        led = 1\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch2 == \"off\") {\n        led = 0\n        msg.payload = led\n        return msg;\n    }\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 880,
        "wires": [
            [
                "1453708e0a870545",
                "613e39c991756e34"
            ]
        ]
    },
    {
        "id": "aebe053fe83ace67",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch3",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.ch3 == \"on\") {\n        led = 1\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch3 == \"off\") {\n        led = 0\n        msg.payload = led\n        return msg;\n    }\n\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 920,
        "wires": [
            [
                "9f568530bb2368ad",
                "2b5075686c9fe38f"
            ]
        ]
    },
    {
        "id": "2ad6c61f7813489e",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch4",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.ch4 == \"on\") {\n        led = 1\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch4 == \"off\") {\n        led = 0\n        msg.payload = led\n        return msg;\n    }\n\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 960,
        "wires": [
            [
                "50cac09c5c9092e1",
                "88ca79de6d3a2fba"
            ]
        ]
    },
    {
        "id": "dcab9ba2e69ea903",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mois",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 720,
        "wires": [
            [
                "7be1703c2492547f"
            ]
        ]
    },
    {
        "id": "7be1703c2492547f",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "label": "Soil Moisture",
        "tooltip": "",
        "group": "113ae86234f6470e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4096",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 720,
        "wires": [
            [
                "92a32c63590feca4"
            ]
        ]
    },
    {
        "id": "92a32c63590feca4",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.mois",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 720,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "4e3f209ed1fd48fa",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ligh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 760,
        "wires": [
            [
                "16fc7096775db004"
            ]
        ]
    },
    {
        "id": "16fc7096775db004",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "label": "Ambient Light",
        "tooltip": "",
        "group": "113ae86234f6470e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "65535",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 760,
        "wires": [
            [
                "d3e87b6c44d9eddf"
            ]
        ]
    },
    {
        "id": "d3e87b6c44d9eddf",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.ligh",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 760,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "06abae7f62947d68",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "label": "Humidity",
        "tooltip": "",
        "group": "0c6cfed2216abd6c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "3b40b2058b7ab8d0"
            ]
        ]
    },
    {
        "id": "f341f59fd9b273cd",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "label": "Temperature",
        "tooltip": "",
        "group": "0c6cfed2216abd6c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 670,
        "y": 1220,
        "wires": [
            [
                "16f8223238fae97d"
            ]
        ]
    },
    {
        "id": "3b40b2058b7ab8d0",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.humi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1180,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "16f8223238fae97d",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1220,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "ef9e645842e7f890",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1120,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "1323413c55c25bf4",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1560,
        "wires": [
            [
                "52513927dec1a559"
            ]
        ]
    },
    {
        "id": "997fc06cd07079e1",
        "type": "inject",
        "z": "14e56c35a5953b22",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"003\",\"humi\":30,\"temp\":24,\"mois\":1130,\"ligh\":32767,\"ch1\":\"off\",\"ch2\":\"off\",\"ch3\":\"off\",\"ch4\":\"off\"}",
        "payloadType": "json",
        "x": 90,
        "y": 1080,
        "wires": [
            [
                "b31b8f93f645b94f",
                "d275deeffb981032",
                "24c153fa41299111",
                "1b4a7c32e81bbed0",
                "ba545d92d45db87c",
                "be300eb1dc6b33ea",
                "4cf5c4ee1b904e5d",
                "84f555e9f8f39ccf",
                "2c74195a6e6a401d",
                "c3210fc937ec6c04"
            ]
        ]
    },
    {
        "id": "b31b8f93f645b94f",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "d275deeffb981032",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1180,
        "wires": [
            [
                "06abae7f62947d68"
            ]
        ]
    },
    {
        "id": "24c153fa41299111",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1220,
        "wires": [
            [
                "f341f59fd9b273cd"
            ]
        ]
    },
    {
        "id": "1b4a7c32e81bbed0",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1120,
        "wires": [
            [
                "ef9e645842e7f890"
            ]
        ]
    },
    {
        "id": "814f823bcb707b39",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 5,
        "group": "0c6cfed2216abd6c",
        "width": 0,
        "height": 0,
        "label": "CH1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH1",
        "x": 670,
        "y": 1400,
        "wires": []
    },
    {
        "id": "964e6562910a3a06",
        "type": "mqtt in",
        "z": "14e56c35a5953b22",
        "name": "",
        "topic": "6424020002/smartfarm/control",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1380,
        "wires": [
            [
                "ba545d92d45db87c",
                "be300eb1dc6b33ea",
                "4cf5c4ee1b904e5d",
                "c3210fc937ec6c04",
                "4517365de23dc40e",
                "40ac7a0a06f76516",
                "e31d11362699fa1a",
                "73cac223b03096cf",
                "1a0c5b4806073af9"
            ]
        ]
    },
    {
        "id": "280615858fc1ae1c",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 6,
        "group": "0c6cfed2216abd6c",
        "width": 0,
        "height": 0,
        "label": "CH2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH2",
        "x": 670,
        "y": 1440,
        "wires": []
    },
    {
        "id": "ba545d92d45db87c",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch1",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch1 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch1 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1380,
        "wires": [
            [
                "814f823bcb707b39",
                "6fed9a3c78d4ba1b"
            ]
        ]
    },
    {
        "id": "91726adc20bf757e",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 7,
        "group": "0c6cfed2216abd6c",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH3",
        "x": 670,
        "y": 1480,
        "wires": []
    },
    {
        "id": "61103846d3526099",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 8,
        "group": "0c6cfed2216abd6c",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH4",
        "x": 670,
        "y": 1520,
        "wires": []
    },
    {
        "id": "be300eb1dc6b33ea",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch2",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch2 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch2 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1420,
        "wires": [
            [
                "280615858fc1ae1c",
                "c2b25dd9724f96ce"
            ]
        ]
    },
    {
        "id": "4cf5c4ee1b904e5d",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch3",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch3 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch3 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1460,
        "wires": [
            [
                "91726adc20bf757e",
                "591b6c41fa9a4157"
            ]
        ]
    },
    {
        "id": "c3210fc937ec6c04",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch4",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.ch4 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch4 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1500,
        "wires": [
            [
                "61103846d3526099",
                "96e0b9412bea20a2"
            ]
        ]
    },
    {
        "id": "84f555e9f8f39ccf",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mois",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1260,
        "wires": [
            [
                "3233ba375d02e090"
            ]
        ]
    },
    {
        "id": "3233ba375d02e090",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "label": "Soil Moisture",
        "tooltip": "",
        "group": "0c6cfed2216abd6c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4096",
        "step": 1,
        "className": "",
        "x": 670,
        "y": 1260,
        "wires": [
            [
                "9325177d7e1ef2cd"
            ]
        ]
    },
    {
        "id": "9325177d7e1ef2cd",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.mois",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1260,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "2c74195a6e6a401d",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ligh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1300,
        "wires": [
            [
                "bca7e64c3cfb8057"
            ]
        ]
    },
    {
        "id": "bca7e64c3cfb8057",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "label": "Ambient Light",
        "tooltip": "",
        "group": "0c6cfed2216abd6c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "65535",
        "step": 1,
        "className": "",
        "x": 670,
        "y": 1300,
        "wires": [
            [
                "c043d764fcf8dc7e"
            ]
        ]
    },
    {
        "id": "c043d764fcf8dc7e",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.ligh",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1300,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "e924958b305acd81",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "label": "Humidity",
        "tooltip": "",
        "group": "aeb89f3138321369",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 1800,
        "wires": [
            [
                "e951e936f7cc2aa6"
            ]
        ]
    },
    {
        "id": "8c6883798510f87b",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "label": "Temperature",
        "tooltip": "",
        "group": "aeb89f3138321369",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 1840,
        "wires": [
            [
                "cf1c9f339441aec4"
            ]
        ]
    },
    {
        "id": "e951e936f7cc2aa6",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.humi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1800,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "cf1c9f339441aec4",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1840,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "8874da7702e3004a",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 1740,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "b14d76361fce605b",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data4",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 2180,
        "wires": [
            [
                "c9bafab1fe06cfa5"
            ]
        ]
    },
    {
        "id": "e6d091fe303c6a9c",
        "type": "inject",
        "z": "14e56c35a5953b22",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"004\",\"humi\":30,\"temp\":24,\"mois\":30,\"ligh\":32767,\"ch1\":\"off\",\"ch2\":\"off\",\"ch3\":\"off\",\"ch4\":\"off\"}",
        "payloadType": "json",
        "x": 90,
        "y": 1700,
        "wires": [
            [
                "dfc33013c0df5b78",
                "b698b466ba3c6e3c",
                "60fa60d5853c0a93",
                "b5d2b4456e609faf",
                "bb8968bbedfebf1b",
                "d65bb023268c96b4",
                "1f94679887942f3a",
                "2c02777badf02483",
                "11f91c9297fd0436",
                "db85e822c73bddf0",
                "f74438ca63ed72a7",
                "1921ba39ecff3a32",
                "94c8dead978174cb",
                "fc6d66892caa9df9",
                "d2a15d0fa490d988"
            ]
        ]
    },
    {
        "id": "dfc33013c0df5b78",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "b698b466ba3c6e3c",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1800,
        "wires": [
            [
                "e924958b305acd81"
            ]
        ]
    },
    {
        "id": "60fa60d5853c0a93",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1840,
        "wires": [
            [
                "8c6883798510f87b"
            ]
        ]
    },
    {
        "id": "b5d2b4456e609faf",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1740,
        "wires": [
            [
                "8874da7702e3004a"
            ]
        ]
    },
    {
        "id": "127e362ef3c32dbc",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 5,
        "group": "aeb89f3138321369",
        "width": 0,
        "height": 0,
        "label": "CH1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH1",
        "x": 670,
        "y": 2020,
        "wires": []
    },
    {
        "id": "289f23703c9fa16a",
        "type": "mqtt in",
        "z": "14e56c35a5953b22",
        "name": "",
        "topic": "smartfarm/control",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f21c4075976f759e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 2000,
        "wires": [
            [
                "bb8968bbedfebf1b",
                "d65bb023268c96b4",
                "1f94679887942f3a",
                "db85e822c73bddf0",
                "d2a15d0fa490d988"
            ]
        ]
    },
    {
        "id": "6186fff42603df0f",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 6,
        "group": "aeb89f3138321369",
        "width": 0,
        "height": 0,
        "label": "CH2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH2",
        "x": 670,
        "y": 2060,
        "wires": []
    },
    {
        "id": "bb8968bbedfebf1b",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch1",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch1 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch1 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2000,
        "wires": [
            [
                "127e362ef3c32dbc",
                "e77c3bd707d03a47"
            ]
        ]
    },
    {
        "id": "a895e9df7d52ee26",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 7,
        "group": "aeb89f3138321369",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH3",
        "x": 670,
        "y": 2100,
        "wires": []
    },
    {
        "id": "dc4e0e554409835a",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 8,
        "group": "aeb89f3138321369",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH4",
        "x": 670,
        "y": 2140,
        "wires": []
    },
    {
        "id": "d65bb023268c96b4",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch2",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch2 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch2 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2040,
        "wires": [
            [
                "6186fff42603df0f",
                "edb80b21bd0bc998"
            ]
        ]
    },
    {
        "id": "1f94679887942f3a",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch3",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch3 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch3 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2080,
        "wires": [
            [
                "a895e9df7d52ee26",
                "6df18592ec0309f3"
            ]
        ]
    },
    {
        "id": "db85e822c73bddf0",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ch4",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.ch4 == \"on\") {\n        led = true\n        msg.payload = led\n        return msg;\n    }\n    if (q.ch4 == \"off\") {\n        led = false\n        msg.payload = led\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2120,
        "wires": [
            [
                "dc4e0e554409835a",
                "446eb4bf2ca8d789"
            ]
        ]
    },
    {
        "id": "2c02777badf02483",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mois",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1880,
        "wires": [
            [
                "9f95f55ac8386a8d"
            ]
        ]
    },
    {
        "id": "9f95f55ac8386a8d",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "label": "Soil Moisture",
        "tooltip": "",
        "group": "aeb89f3138321369",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4096",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 1880,
        "wires": [
            [
                "345ca29a29e888df"
            ]
        ]
    },
    {
        "id": "345ca29a29e888df",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.mois",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1880,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "11f91c9297fd0436",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ligh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1920,
        "wires": [
            [
                "82e0a958aa949163"
            ]
        ]
    },
    {
        "id": "82e0a958aa949163",
        "type": "ui_slider",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "label": "Ambient Light",
        "tooltip": "",
        "group": "aeb89f3138321369",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "65535",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 1920,
        "wires": [
            [
                "3b329595e62263bd"
            ]
        ]
    },
    {
        "id": "3b329595e62263bd",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.ligh",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1920,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "86651b9c3bc8daa7",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.ch1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "d162c0d505d7bf91",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.ch2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "0998ccb1b69e6810",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.ch3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 420,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "9d947dfc62f772c2",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1.ch4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 460,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "0fb66f7ad2669a43",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "status",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\") {\n    if (q.status == \"get\") { \n        return msg; }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 500,
        "wires": [
            [
                "cb370b9794771705"
            ]
        ]
    },
    {
        "id": "273fe15d2ef0a717",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "status",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\") {\n    if (q.status == \"get\") { \n        return msg; }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1000,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "03ea7b952a1cab42",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.ch1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 840,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "1453708e0a870545",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.ch2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 880,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "9f568530bb2368ad",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.ch3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 920,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "50cac09c5c9092e1",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2.ch4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 960,
        "wires": [
            [
                "d856004d92a5ea17"
            ]
        ]
    },
    {
        "id": "095c18802a794ad1",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\" ) {\n    if (q.humi!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "2903e170e86b181a"
            ]
        ]
    },
    {
        "id": "a63ec47257b5cb91",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\" ) {\n    if (q.temp!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 200,
        "wires": [
            [
                "27f8ab4303c7d41b"
            ]
        ]
    },
    {
        "id": "1b202bec6a2bbf1b",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\" ) {\n    if (q.mois!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 240,
        "wires": [
            [
                "8f98a9639e4d2619"
            ]
        ]
    },
    {
        "id": "6b7e7c5555a84a4d",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"001\" ) {\n    if (q.ligh!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 280,
        "wires": [
            [
                "836ac67277a2564f"
            ]
        ]
    },
    {
        "id": "33ce643235367e99",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\" ) {\n    if (q.humi!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 640,
        "wires": [
            [
                "2420714781b8f957"
            ]
        ]
    },
    {
        "id": "f2678cd6357a66d6",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\" ) {\n    if (q.temp!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 680,
        "wires": [
            [
                "e82d9620c590f3eb"
            ]
        ]
    },
    {
        "id": "8b7968de1eef5240",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\" ) {\n    if (q.mois!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 720,
        "wires": [
            [
                "dcab9ba2e69ea903"
            ]
        ]
    },
    {
        "id": "66eb61506ad0dbe7",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"002\" ) {\n    if (q.ligh!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 760,
        "wires": [
            [
                "4e3f209ed1fd48fa"
            ]
        ]
    },
    {
        "id": "6fed9a3c78d4ba1b",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.ch1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1380,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "c2b25dd9724f96ce",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.ch2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1420,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "591b6c41fa9a4157",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.ch3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1460,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "96e0b9412bea20a2",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3.ch4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1500,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "4517365de23dc40e",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "status",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\") {\n    if (q.status == \"get\") { \n        return msg; }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1560,
        "wires": [
            [
                "1323413c55c25bf4"
            ]
        ]
    },
    {
        "id": "40ac7a0a06f76516",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\" ) {\n    if (q.humi!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1180,
        "wires": [
            [
                "d275deeffb981032"
            ]
        ]
    },
    {
        "id": "e31d11362699fa1a",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\" ) {\n    if (q.temp!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1220,
        "wires": [
            [
                "24c153fa41299111"
            ]
        ]
    },
    {
        "id": "73cac223b03096cf",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\" ) {\n    if (q.mois!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1260,
        "wires": [
            [
                "84f555e9f8f39ccf"
            ]
        ]
    },
    {
        "id": "1a0c5b4806073af9",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"003\" ) {\n    if (q.ligh!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1300,
        "wires": [
            [
                "2c74195a6e6a401d"
            ]
        ]
    },
    {
        "id": "e77c3bd707d03a47",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.ch1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2000,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "edb80b21bd0bc998",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.ch2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2040,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "6df18592ec0309f3",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.ch3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2080,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "446eb4bf2ca8d789",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data4.ch4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2120,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "d2a15d0fa490d988",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "status",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\") {\n    if (q.status == \"get\") { \n        return msg; }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2180,
        "wires": [
            [
                "b14d76361fce605b"
            ]
        ]
    },
    {
        "id": "f74438ca63ed72a7",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "humi",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\" ) {\n    if (q.humi!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1800,
        "wires": [
            [
                "b698b466ba3c6e3c"
            ]
        ]
    },
    {
        "id": "1921ba39ecff3a32",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "temp",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\" ) {\n    if (q.temp!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1840,
        "wires": [
            [
                "60fa60d5853c0a93"
            ]
        ]
    },
    {
        "id": "94c8dead978174cb",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "mois",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\" ) {\n    if (q.mois!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1880,
        "wires": [
            [
                "2c02777badf02483"
            ]
        ]
    },
    {
        "id": "fc6d66892caa9df9",
        "type": "function",
        "z": "14e56c35a5953b22",
        "name": "ligh",
        "func": "var q = msg.payload\nvar led\nif (q.id == \"004\" ) {\n    if (q.ligh!=null){\n            return msg;}\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1920,
        "wires": [
            [
                "11f91c9297fd0436"
            ]
        ]
    },
    {
        "id": "4d38c14d7d0890f9",
        "type": "ui_switch",
        "z": "14e56c35a5953b22",
        "name": "",
        "label": "Enable Board Sim1",
        "tooltip": "",
        "group": "a7b4c9de057d0404",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "e46083e4.1f17b"
            ]
        ]
    },
    {
        "id": "b8bbbc41.f272",
        "type": "switch",
        "z": "14e56c35a5953b22",
        "name": "Context based routing",
        "property": "state1",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1280,
        "y": 500,
        "wires": [
            [
                "a56d03c9e0e129d2"
            ]
        ]
    },
    {
        "id": "e46083e4.1f17b",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "Set flow.state1",
        "rules": [
            {
                "t": "set",
                "p": "state1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "200383ebf0d87ca6",
        "type": "ui_switch",
        "z": "14e56c35a5953b22",
        "name": "",
        "label": "Enable Board Sim2",
        "tooltip": "",
        "group": "113ae86234f6470e",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1110,
        "y": 660,
        "wires": [
            [
                "7eff9dc3ddfb3a31"
            ]
        ]
    },
    {
        "id": "7eff9dc3ddfb3a31",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "Set flow.state2",
        "rules": [
            {
                "t": "set",
                "p": "state2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "56b8a85fb3a76534",
        "type": "switch",
        "z": "14e56c35a5953b22",
        "name": "Context based routing",
        "property": "state2",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1320,
        "y": 1000,
        "wires": [
            [
                "a56d03c9e0e129d2"
            ]
        ]
    },
    {
        "id": "5698de0e8a112c0d",
        "type": "ui_switch",
        "z": "14e56c35a5953b22",
        "name": "",
        "label": "Enable Board Sim3",
        "tooltip": "",
        "group": "0c6cfed2216abd6c",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1110,
        "y": 740,
        "wires": [
            [
                "dbe96709baeba08b"
            ]
        ]
    },
    {
        "id": "dbe96709baeba08b",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "Set flow.state3",
        "rules": [
            {
                "t": "set",
                "p": "state3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "e7830c653828e661",
        "type": "ui_switch",
        "z": "14e56c35a5953b22",
        "name": "",
        "label": "Enable Board Sim4",
        "tooltip": "",
        "group": "aeb89f3138321369",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1110,
        "y": 800,
        "wires": [
            [
                "c8dc7935cb945c54"
            ]
        ]
    },
    {
        "id": "c8dc7935cb945c54",
        "type": "change",
        "z": "14e56c35a5953b22",
        "name": "Set flow.state4",
        "rules": [
            {
                "t": "set",
                "p": "state4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "52513927dec1a559",
        "type": "switch",
        "z": "14e56c35a5953b22",
        "name": "Context based routing",
        "property": "state3",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1300,
        "y": 1560,
        "wires": [
            [
                "a56d03c9e0e129d2"
            ]
        ]
    },
    {
        "id": "c9bafab1fe06cfa5",
        "type": "switch",
        "z": "14e56c35a5953b22",
        "name": "Context based routing",
        "property": "state4",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1320,
        "y": 2180,
        "wires": [
            [
                "a56d03c9e0e129d2"
            ]
        ]
    },
    {
        "id": "b3ad6e5779c93539",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 6,
        "group": "113ae86234f6470e",
        "width": 0,
        "height": 0,
        "label": "CH1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH1",
        "x": 610,
        "y": 860,
        "wires": []
    },
    {
        "id": "613e39c991756e34",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 7,
        "group": "113ae86234f6470e",
        "width": 0,
        "height": 0,
        "label": "CH2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH2",
        "x": 610,
        "y": 900,
        "wires": []
    },
    {
        "id": "2b5075686c9fe38f",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 8,
        "group": "113ae86234f6470e",
        "width": 0,
        "height": 0,
        "label": "CH3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH3",
        "x": 610,
        "y": 940,
        "wires": []
    },
    {
        "id": "88ca79de6d3a2fba",
        "type": "ui_led",
        "z": "14e56c35a5953b22",
        "order": 9,
        "group": "113ae86234f6470e",
        "width": 0,
        "height": 0,
        "label": "CH4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CH4",
        "x": 610,
        "y": 980,
        "wires": []
    },
    {
        "id": "a7b4c9de057d0404",
        "type": "ui_group",
        "name": "001",
        "tab": "dc25fe35.866f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f21c4075976f759e",
        "type": "mqtt-broker",
        "name": "smartfarm   broker",
        "broker": "192.168.137.225",
        "port": "8883",
        "tls": "5eddd2f4205781cc",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "113ae86234f6470e",
        "type": "ui_group",
        "name": "002",
        "tab": "dc25fe35.866f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c6cfed2216abd6c",
        "type": "ui_group",
        "name": "003",
        "tab": "dc25fe35.866f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aeb89f3138321369",
        "type": "ui_group",
        "name": "004",
        "tab": "dc25fe35.866f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc25fe35.866f",
        "type": "ui_tab",
        "name": "Agent Simulation",
        "icon": "dashboard",
        "order": 17,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5eddd2f4205781cc",
        "type": "tls-config",
        "name": "",
        "cert": "/etc/mosquitto/ca_certificates/ca.crt",
        "key": "/etc/mosquitto/ca_certificates/ca.key",
        "ca": "/etc/mosquitto/certs/server.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]